.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .black{
    background-color: black;

  }